# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
/.env
/.env.*
env/
venv/
ENV/
env.bak/
venv.bak/

#### Ignore all .idea files
.idea
.idea/**

#### Except:
# Version Control configurations
# How IDEA should treat the text files in your project
# Automatic code formatting
# Project specifics

!.idea/vcs.xml
!.idea/encodings.xml
!.idea/codeStyleSettings.xml
!.idea/dictionaries
!.idea/copyrights
!.idea/misc.xml
!.idea/sqldialects.xml

#### Media & Logs
media/
**/logs/*.log
**/logs/*.log.*
**/tmp/*
static/
_backups/*
out/*
apps/actions/management/commands/fixes.py

# Exception for media module
!/apps/modules/media/
!/static/templates

queries/
