<div class="container">
  <div class="my-3">
    <race-filters [trophies]="(trophies$ | async)!"
                  [flags]="(flags$ | async)!"
                  (onFilterChange)="changeFilters($event)">
    </race-filters>
  </div>

  <div class="my-3">
    <race-list [races]="races$ | async" [offset]="listOffset"
               (onRaceSelect)="selectRace($event)"
               (onSortingChange)="changeSorting($event)">
    </race-list>

    <pagination [key]="'RACES'" [collectionSize]="(races$ | async)?.count  || 0"
                (onPageChange)="changePage($event)">
    </pagination>
  </div>
</div>
