<div class="container">
  <div class="my-3">
    <race-filters [trophies]="(trophies$ | async)!"
                  [flags]="(flags$ | async)!"
                  (onFilterChange)="onFilterChange($event)">
    </race-filters>
  </div>

  <div class="my-3">
    <race-list [races]="(races$ | async)!" [offset]="listOffset"
               (onRaceSelect)="onRaceSelect($event)">
    </race-list>

    <pagination #pagination [key]="'RACES'" [collectionSize]="(races$ | async)?.count!"
                (pageChange)="onPageChange($event)">
    </pagination>
  </div>
</div>
