<div *ngIf="races && races.results as races else empty" class="pointer">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="toggleSorting('name')">
        <span class="d-flex">Nombre <i *ngIf="sortBy === 'name'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('league')">
        <span class="d-flex">Liga <i *ngIf="sortBy === 'league'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('date')">
        <span class="d-flex">Fecha <i *ngIf="sortBy === 'date'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let race of races; index as i" (click)="selectRace(race)">
      <th scope="row">{{ i + offset + 1 }}</th>
      <td>{{ race.name }}</td>
      <td>{{ race.league?.name || '' }}</td>
      <td>{{ race.date }}</td>
      <td><i class="material-icons">keyboard_arrow_right</i></td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <no-content></no-content>
</ng-template>
