<div *ngIf="race as race" class="container card bg-dark text-light">
  <div class="card-header">
    <span class="card-title h5">{{ race.name }} - {{ race.date }}</span>
    <div *ngIf="race.league" class="float-end">
      <span *ngIf="race.league" class="badge rounded-pill bg-light text-dark">{{ race.league!.name }} | {{ race.town }}</span>
      <span *ngIf="!race.league" class="badge rounded-pill bg-light text-dark">{{ race.town }}</span>
    </div>
  </div>

  <div class="card-body">
    <div class="d-flex">
      <div *ngIf="race.organizer" class="w-20">
        <figure>
          <picture>
            <!-- <source *ngIf="race.organizer.image as image" [srcset]="image"> -->
            <source srcset="../../../../../assets/img/club_placeholder.webp" type="image/webp">
            <img class="card-img img-thumbnail" src="../../../../../assets/img/club_placeholder.jpg" alt="Club image">
          </picture>
          <figcaption class="text-center">{{ race.organizer!.name }}</figcaption>
        </figure>
      </div>
      <div class="row align-items-center mx-auto">
        <table class="text-center">
          <thead>
          <tr>
            <th scope="col" class="px-2">Tandas</th>
            <th scope="col" class="px-2">Largos</th>
            <th scope="col" class="px-2">Calles</th>
            <th scope="col" class="px-2">Participantes</th>
            <th *ngIf="winner" scope="col" class="px-2">Distancia</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{ race.series }}</th>
            <th>{{ race.laps }}</th>
            <th>{{ race.lanes }}</th>
            <th>{{ race.participants.length }}</th>
            <th *ngIf="winner">{{ winner.distance }}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="winner" class="card-footer">
    <div class="d-flex justify-content-center">
      <div class="badge rounded-pill bg-light text-dark font-weight-bold p-2">
        <span>{{ winner.club.name }}</span>
        <div class="vr"></div>
        <span>{{ winner.time }}</span>
        <div class="vr"></div>
        <span>{{ winnerSpeed | number }} m/s</span>
      </div>
    </div>
  </div>

</div>
