<div class="btn-group">
  <div ngbDropdown class="btn-group flex-grow-1" role="group">
    <button ngbDropdownToggle type="button" class="btn btn-outline-secondary">
      {{ selectedItem ? displayFn(selectedItem.name) : title }}
    </button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let item of items" (click)="select(item)">
        {{ displayFn(item.name) }}
      </button>
    </div>
  </div>

  <button *ngIf="!hideClear" type="button" class="btn btn-outline-secondary flex-grow-0" (click)="clear()">
    <i class="material-icons">clear</i>
  </button>
</div>
