<div class="container-xxl">
  <div class="my-3">
    <participant-race-filters [trophies]="(trophies$ | async)!"
                              [flags]="(flags$ | async)!"
                              (onFilterChange)="changeFilters($event)">
    </participant-race-filters>
  </div>

  <div class="my-3">
    <participant-races [participation]="(club$ | async)?.participation || null" [offset]="listOffset"
                       (onRaceSelect)="selectRace($event)"
                       (onSortingChange)="changeSorting($event)">
    </participant-races>

    <pagination [key]="'CLUB_RACES'" [collectionSize]="(club$ | async)?.participation?.count || 0"
                (onPageChange)="changePage($event)">
    </pagination>
  </div>
</div>
