.card + .card {
  margin-top: 1rem !important; // bootstrap mt-3 margin
}

// set text as white in bg-danger cells
.table-striped > tbody > tr:nth-of-type(odd) > td {
  color: inherit;
}

.btn .material-icons {
  font-size: 24px;
  color: var(--bs-body-bg);
  padding: 0;
  margin: 0;
}
