<div *ngIf="participation && participation.results.length > 0 else empty" class="pointer">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="toggleSorting('date')">
        <span class="d-flex">Fecha <i *ngIf="sortBy === 'date'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('league')">
        <span class="d-flex">Liga <i *ngIf="sortBy === 'league'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('category')">
        <span class="d-flex">Categoría <i *ngIf="sortBy === 'category'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('type')">
        <span class="d-flex">Tipo <i *ngIf="sortBy === 'type'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" (click)="toggleSorting('name')">
        <span class="d-flex">Nombre <i *ngIf="sortBy === 'name'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col">Distancia</th>
      <th scope="col">Tiempo</th>
      <th scope="col" (click)="toggleSorting('speed')">
        <span class="d-flex">V.Media <i *ngIf="sortBy === 'speed'" class="material-icons">{{ sortIcon }}</i></span>
      </th>
      <th scope="col" class="d-none d-xl-table-cell">N.Largos</th>
      <th scope="col" class="d-none d-xl-table-cell">Boya</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of participation.results; index as i" (click)="selectRace(p.race)">
      <th scope="row">{{ i + offset + 1 }}</th>
      <td>{{ p.race.date }}</td>
      <td class="text-nowrap">{{ p.race.league?.symbol || '' }}</td>
      <td>{{ readableCategoryGender([p.category, p.gender]) }}</td>
      <td><i class="material-icons" [ngbTooltip]="readableRaceType(p.race.type)">{{ raceTypeIcon(p.race) }}</i></td>
      <td class="text-end">{{ p.race.name }}</td>
      <td>{{ p.distance }}</td>
      <td>{{ p.time }}</td>
      <td>{{ getParticipantSpeed(p) | number:'2.3-3' }}</td>
      <td class="d-none d-xl-table-cell">{{ p.laps.length }}</td>
      <td class="d-none d-xl-table-cell">{{ p.lane }} / {{ p.race.lanes }}</td>
      <td><i class="material-icons">keyboard_arrow_right</i></td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <no-content></no-content>
</ng-template>
