<div *ngIf="(clubs$ | async) as clubs else empty" class="container">
  <div class="d-flex justify-content-center align-items-center mt-3">
    <div class="input-group" [ngClass]="{'w-50': windowsWidth >= 576}">
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar..."
             [(ngModel)]="keywords">

      <button class="btn btn-outline-secondary" type="button" (click)="clearKeywords()">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>

  <div class="card-group justify-content-center mt-3">
    <club-card *ngFor="let club of getFilteredClubs(clubs)" class="m-2"
               [club]="club"
               (click)="onClubSelect(club)">
    </club-card>
  </div>
</div>

<ng-template #empty>
  <no-content></no-content>
</ng-template>
