<search [badges]="badges" (onKeywordsChanged)="changeKeywords($event)">
  <dropdown class="row text-center margins"
            [items]="genders" [title]="DROPDOWNS_NAMES.gender"
            [selectedItem]="selected(genders, 'gender')"
            [displayFn]="readableGender"
            (onSelect)="select('gender', $event, $event.name, readableGender($event.name))"
            (onClear)="clear('gender')">
  </dropdown>
  <dropdown class="row text-center margins"
            [items]="categories" [title]="DROPDOWNS_NAMES.category"
            [selectedItem]="selected(categories, 'category')"
            [displayFn]="readableCategory"
            (onSelect)="select('category', $event, $event.name, readableCategory($event.name))"
            (onClear)="clear('category')">
  </dropdown>
  <dropdown class="row text-center margins"
            [items]="years" [title]="DROPDOWNS_NAMES.year"
            [selectedItem]="selected(years, 'year')"
            (onSelect)="select('year', $event, $event.id)"
            (onClear)="clear('year')">
  </dropdown>
  <dropdown class="row text-center margins"
            [items]="trophies" [title]="DROPDOWNS_NAMES.trophy"
            [selectedItem]="selected(trophies, 'trophy')"
            (onSelect)="select('trophy', $event, $event.id)"
            (onClear)="clear('trophy')">
  </dropdown>
  <dropdown class="row text-center margins"
            [items]="flags" [title]="DROPDOWNS_NAMES.flag"
            [selectedItem]="selected(flags, 'flag')"
            (onSelect)="select('flag', $event, $event.id)"
            (onClear)="clear('flag')">
  </dropdown>
</search>
